<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="headFragment">
    <meta charset="UTF-8">

    <title>luck</title>

    <script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
    <script src="/js/calendar.js" th:href="@{/js/calendar.js}"></script>
    <script src="/js/myungsig.js" th:href="@{/js/myungsig.js}"></script>
    <script src="/js/convert.js" th:href="@{/js/convert.js}"></script>
</head>
</html>